---
// No props needed unless you want to make links configurable later
---

<div class="flex gap-6 justify-center items-center mt-8">
  <a
    href="mailto:devlopersabbir@gmail.com"
    title="Email"
    target="_blank"
    class="group"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-6 h-6 fill-white group-hover:scale-125 group-hover:text-indigo-400 transition duration-300"
      viewBox="0 0 24 24"
      ><path
        fill="currentColor"
        d="M1.75 2h12.5c.966 0 1.75.784 1.75 1.75v8.5A1.75 1.75 0 0 1 14.25 14H1.75A1.75 1.75 0 0 1 0 12.25v-8.5C0 2.784.784 2 1.75 2M1.5 12.251c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25V5.809L8.38 9.397a.75.75 0 0 1-.76 0L1.5 5.809zm13-8.181v-.32a.25.25 0 0 0-.25-.25H1.75a.25.25 0 0 0-.25.25v.32L8 7.88Z"
      ></path></svg
    >
  </a>

  <a
    href="https://github.com/devlopersabbir"
    title="GitHub"
    target="_blank"
    class="group"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-6 h-6 fill-white group-hover:scale-125 group-hover:text-indigo-400 transition duration-300"
      viewBox="0 0 24 24"
    >
      <path
        fill="currentColor"
        d="M8 0c4.42 0 8 3.58 8 8a8.01 8.01 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38c0-.27.01-1.13.01-2.2c0-.75-.25-1.23-.54-1.48c1.78-.2 3.65-.88 3.65-3.95c0-.88-.31-1.59-.82-2.15c.08-.2.36-1.02-.08-2.12c0 0-.67-.22-2.2.82c-.64-.18-1.32-.27-2-.27s-1.36.09-2 .27c-1.53-1.03-2.2-.82-2.2-.82c-.44 1.1-.16 1.92-.08 2.12c-.51.56-.82 1.28-.82 2.15c0 3.06 1.86 3.75 3.64 3.95c-.23.2-.44.55-.51 1.07c-.46.21-1.61.55-2.33-.66c-.15-.24-.6-.83-1.23-.82c-.67.01-.27.38.01.53c.34.19.73.9.82 1.13c.16.45.68 1.31 2.69.94c0 .67.01 1.3.01 1.49c0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8"
      ></path>
    </svg>
  </a>

  <a
    href="https://linkedin.com/in/devlopersabbir"
    title="LinkedIn"
    target="_blank"
    class="group"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-6 h-6 fill-white group-hover:scale-125 group-hover:text-indigo-400 transition duration-300"
      viewBox="0 0 24 24"
      ><path
        fill="currentColor"
        d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z"
      ></path></svg
    >
  </a>

  <a
    href="https://youtube.com/c/stsabbir"
    title="YouTube"
    target="_blank"
    class="group"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-6 h-6 fill-white group-hover:scale-125 group-hover:text-indigo-400 transition duration-300"
      viewBox="0 0 24 24"
      ><path
        fill="currentColor"
        d="m10 15l5.19-3L10 9zm11.56-7.83c.13.47.22 1.1.28 1.9c.07.8.1 1.49.1 2.09L22 12c0 2.19-.16 3.8-.44 4.83c-.25.9-.83 1.48-1.73 1.73c-.47.13-1.33.22-2.65.28c-1.3.07-2.49.1-3.59.1L12 19c-4.19 0-6.8-.16-7.83-.44c-.9-.25-1.48-.83-1.73-1.73c-.13-.47-.22-1.1-.28-1.9c-.07-.8-.1-1.49-.1-2.09L2 12c0-2.19.16-3.8.44-4.83c.25-.9.83-1.48 1.73-1.73c.47-.13 1.33-.22 2.65-.28c1.3-.07 2.49-.1 3.59-.1L12 5c4.19 0 6.8.16 7.83.44c.9.25 1.48.83 1.73 1.73"
      ></path></svg
    >
  </a>
  <a
    href="https://facebook.com/devlopersabbir"
    title="Facebook"
    target="_blank"
    class="group"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-6 h-6 fill-white group-hover:scale-125 group-hover:text-indigo-400 transition duration-300"
      viewBox="0 0 24 24"
      ><path
        fill="currentColor"
        d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95"
      ></path></svg
    >
  </a>
  <a href="https://x.com/thatsabbir" title="x" target="_blank" class="group">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-6 h-6 fill-white group-hover:scale-125 group-hover:text-indigo-400 transition duration-300"
      viewBox="0 0 24 24"
      ><g fill="none"
        ><g clip-path="url(#primeTwitter0)"
          ><path
            fill="currentColor"
            d="M11.025.656h2.147L8.482 6.03L14 13.344H9.68L6.294 8.909l-3.87 4.435H.275l5.016-5.75L0 .657h4.43L7.486 4.71zm-.755 11.4h1.19L3.78 1.877H2.504z"
          ></path></g
        ><defs
          ><clipPath id="primeTwitter0"
            ><path fill="#fff" d="M0 0h14v14H0z"></path></clipPath
          ></defs
        ></g
      ></svg
    >
  </a>
</div>
