---
import RootLayout from "../layouts/root-layout.astro";
---

<RootLayout pageTitle="Hire me">
  <section class="my-8">
    <form>
      <label for="Name"></label>
      <input
        type="text"
        name=""
        id=""
        class="bg-zinc-600 rounded-sm px-2 py-1.5"
        placeholder="Enter your name"
      />
      <button type="submit">Submit</button>
    </form>
  </section>
</RootLayout>
