---
import RootLayout from "../layouts/root-layout.astro";
import { galleryImages } from "../constants";
import HireMeForm from "./_components/hire-me-form";
const selectedImages = [...galleryImages].sort(() => 0.5 - Math.random());
---

<RootLayout pageTitle="Hire Me">
  <section class="my-5 flex-center flex-col md:flex-row gap-10 items-stretch">
    <div
      class="image-gallery flex-1 columns-2 md:columns-3 gap-2 space-y-2 overflow-y-auto"
    >
      {
        selectedImages.map((src, i) => (
          <img
            src={src}
            alt={`Image ${i + 1}`}
            class="w-full rounded object-cover break-inside-avoid"
            loading="lazy"
          />
        ))
      }
    </div>
    <!-- Contact Form -->
    <HireMeForm client:load />
  </section>
</RootLayout>
