---
import Hero from "../components/hero.astro";
import RecentBlog from "../components/recent-blog.astro";
import RecentProjects from "../components/recent-project.astro";
import RootLayout from "../layouts/root-layout.astro";
---

<RootLayout pageTitle="Personal Portfolio website">
  <section
    class="hero-section flex flex-col-reverse md:flex-row md:items-center gap-6 my-5"
  >
    <Hero />
  </section>
  <section class="recent-projects mb-4">
    <RecentProjects />
  </section>
  <section class="recent-articles mb-4">
    <RecentBlog />
  </section>
</RootLayout>
