---
import RootLayout from "../layouts/root-layout.astro";
import { projects } from "../constants";
import RecentProjectCard from "../components/common/recent-project-card.astro";
---

<RootLayout pageTitle="Projects">
  <section class="all-projects my-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      {
        projects.map((project) => (
          <RecentProjectCard project={project} />
        ))
      }
    </div>
  </section>
</RootLayout>
