<section id="experience">
  <h2 class="text-3xl font-bold mb-4">Experience</h2>
  <ul class="space-y-4">
    <li>
      <h3 class="text-xl font-semibold">Fiverr – Full-Stack Developer</h3>
      <p class="text-sm text-gray-400 dark:text-gray-500">Apr 2021 – Present</p>
    </li>
    <li>
      <h3 class="text-xl font-semibold">Upwork – Full Stack Engineer</h3>
      <p class="text-sm text-gray-400 dark:text-gray-500">
        Apr 2021 – Jan 2025
      </p>
    </li>
    <li>
      <h3 class="text-xl font-semibold">Ashra Academy – Software Engineer</h3>
      <p class="text-sm text-gray-400 dark:text-gray-500">
        Apr 2024 – Dec 2024
      </p>
    </li>
  </ul>
</section>
