---
import { about } from "../constants";
---

<div class="flex flex-col flex-1 text-left">
  <h1 class="text-2xl font-bold">{about.name}</h1>
  <h3 class="text-xl font-semibold mb-4">{about.title}</h3>
  <p class="font-normal opacity-80 leading-relaxed mb-4">
    {about.description}
  </p>
</div>

<div
  class="flex-shrink-0 rounded-full h-40 w-40 border-2 border-zinc-300 overflow-hidden md:self-auto shadow"
>
  <img
    src={about.image}
    class="rounded-full w-full h-full object-cover shadow"
  />
</div>
