---
import youtubeVideos from "../content/youtube/card.json";
import VideoCard from "./video-card.astro";
---

<div class="max-w-4xl mx-auto py-8">
  <!-- Section Header -->
  <div class="flex-between-center mb-4">
    <h2 class="text-xl font-bold">Latest YouTube Videos</h2>
    <!-- Optional: Link to a dedicated YouTube videos page if you have one -->
    <a
      href="https://youtube.com/@stsabbir"
      target="_blank"
      class="underline text-blue-400 text-sm hover:text-blue-300">Visite</a
    >
  </div>

  <!-- Grid for YouTube Cards -->
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-3">
    {youtubeVideos.map((video) => <VideoCard video={video} />)}
  </div>
</div>
