---
// import youtubeVideos from "../services/youtube/card.json";
import youtubePlaylist from "../services/youtube/playlist.json";
import VideoCard from "./video-card.astro";
---

<div class="content-layout">
  <!-- Section Header -->
  <div class="flex-between-center mb-4">
    <h2 class="text-xl font-bold">Free Courses - YouTube Playlist</h2>
    <a
      href="https://www.youtube.com/@STSabbir/playlists"
      target="_blank"
      class="underline text-blue-400 text-sm hover:text-blue-300">Visite Channel</a
    >
  </div>

  <!-- Grid for YouTube Cards -->
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-3">
    {youtubePlaylist.map((item) => <VideoCard video={item} />)}
  </div>
</div>
