---
import { projects } from "../constants";
import RecentProjectCard from "./common/recent-project-card.astro";
---

<div class="flex-between-center mb-4">
  <h4 class="text-lg font-semibold">Recent Projects</h4>
  <a
    href="/projects"
    class="underline text-blue-400 text-sm hover:text-blue-300">View all</a
  >
</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  {projects.map((project) => <RecentProjectCard project={project} />)}
</div>
