---

---

<div class="flex-between-center mb-4">
  <h4 class="text-lg font-semibold">Recent Articles</h4>
  <a href="/blogs" class="underline text-blue-400 text-sm hover:text-blue-300"
    >View all</a
  >
</div>

<div class="flex-col gap-1">
  {
    [0, 1, 2, 3].map(() => (
      <div class="flex-between-center mt-2">
        <div class="flex font-medium">
          <a
            href="/blogs"
            class="hover:text-zinc-200 overflow-hidden text-ellipsis"
          >
            How to deploy nodejs applications
          </a>
          <span class="px-2 md:visible sm:flex hidden">-</span>
          <div class="gap-1 mask-r-from-70% sm:flex hidden">
            {["Typescript", "Astrojs", "Tailwindcss"].map((tech) => (
              <span class="bg-zinc-800 px-1 py-0.5 rounded-sm cursor-pointer hover:bg-zinc-700 transition-all">
                #{tech}
              </span>
            ))}
          </div>
        </div>
        <span class="text-zinc-300">June 14, 2025</span>
      </div>
    ))
  }
</div>
