---
import { menus } from "../../constants/menus";
---

<header class="shadow-zinc-800 shadow">
  <nav class="container mx-auto px-2 py-2.5">
    <div class="flex-between-center">
      <ul class="flex space-x-3">
        {
          menus.map((menu) => (
            <li class="nav-item">
              <a href={menu.path}>{menu.label}</a>
            </li>
          ))
        }
      </ul>
      <!-- TODO: need to show a mode changer button -->
      <!-- <button class="bg-zinc-800 border border-zinc-700 rounded"> theme</button> -->
    </div>
  </nav>
</header>
