---
import moment from "moment";
import { getCollection } from "astro:content";
import RootLayout from "../../layouts/root-layout.astro";

const posts = await getCollection("blogs");
---

<RootLayout pageTitle="Articles">
  <section class="recent-articles my-5">
    <div class="flex-col gap-1">
      {
        posts.map((post) => (
          <div class="flex-between-center mt-2">
            <div class="flex font-medium">
              <a href={`/blogs/${post.slug}`} class="hover:text-zinc-200">
                {post.data.title}
              </a>
              {/* <span class="px-2 md:visible sm:flex hidden">-</span>
              <div class="gap-1 mask-r-from-70% sm:flex hidden">
                {post.data.tags &&
                  post.data.tags.map((tag: any) => (
                    <span class="bg-zinc-800 px-1 py-0.5 rounded-sm cursor-pointer hover:bg-zinc-700 transition-all">
                      #{tag}
                    </span>
                  ))}
              </div> */}
            </div>
            <span class="text-zinc-300">
              {moment(post.data.pubDate).format("ll")}
            </span>
          </div>
        ))
      }
    </div>
  </section>
</RootLayout>
