---
import { getCollection } from "astro:content";
import RootLayout from "../../layouts/root-layout.astro";
import BlogCard from "../_components/blog-card.astro";

const posts = await getCollection("blogs");
---

<RootLayout pageTitle="Articles">
  <section class="recent-articles my-5">
    <div class="flex-col gap-1">
      {posts.map((post) => <BlogCard post={post} />)}
    </div>
  </section>
</RootLayout>
