---
const { link } = Astro.props;
---

<a href={link} class="cursor-pointer">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="25"
    height="25"
    viewBox="0 0 24 24"
    fill="white"
  >
    <path
      d="M12 .5C5.73.5.5 5.73.5 12c0 5.08 3.29 9.38 7.85 10.91.57.1.78-.25.78-.55 0-.27-.01-1.14-.02-2.07-3.19.69-3.87-1.37-3.87-1.37-.52-1.33-1.27-1.68-1.27-1.68-1.04-.71.08-.7.08-.7 1.15.08 1.75 1.18 1.75 1.18 1.02 1.75 2.67 1.25 3.32.96.1-.74.4-1.25.73-1.53-2.55-.29-5.23-1.28-5.23-5.7 0-1.26.45-2.3 1.18-3.11-.12-.29-.51-1.47.11-3.06 0 0 .96-.31 3.15 1.18A10.98 10.98 0 0 1 12 6.86c.97.01 1.94.13 2.85.37 2.18-1.5 3.14-1.18 3.14-1.18.63 1.59.24 2.77.12 3.06.74.81 1.18 1.85 1.18 3.11 0 4.43-2.69 5.41-5.25 5.69.41.35.78 1.03.78 2.08 0 1.5-.01 2.71-.01 3.08 0 .3.21.66.79.55A11.51 11.51 0 0 0 23.5 12C23.5 5.73 18.27.5 12 .5z"
    ></path>
  </svg>
</a>
