---
interface Props {
  pageTitle: string;
}
const { pageTitle } = Astro.props;
import SiteHeader from "../components/common/site-header.astro";
import SiteFooter from "../components/common/site-footer.astro";
import "../styles/global.css";
import ThemeToggle from "../theme/ThemeToggle.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta
      name="description"
      content="This is the devlopersabbir personal portfolio website. Where he display his expertise and skills set."
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Sabbir Hossain Shuvo" />
    <link rel="author" href="devlopersabbir.github.io" />
    <meta name="category" content="Portfolio Resume" />
    <meta property="al:web:url" content="https://devlopersabbir.github.io" />
    <title>Sabbir - {pageTitle}</title>
  </head>
  <body class="bg-white dark:bg-zinc-900 transition-colors duration-300">
    <SiteHeader />
    <main class="container mx-auto px-2">
      <slot />
    </main>
    <SiteFooter />
    <ThemeToggle />
  </body>
</html>
